@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">CRUD Asp.Net Core MVC C#</h1>
    <p>Conheça meu <a href="https://github.com/ThalesArede">GitHub</a>.</p>
</div>
